<!-- head template -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="pages.css">

<script>var dojoConfig = {parseOnLoad: true, isDebug: true};</script>

<script src="//ajax.googleapis.com/ajax/libs/dojo/1.8.3/dojo/dojo.js"></script>
<script type="text/javascript" src="jssaxparser/sax.js"></script>
<script type="text/javascript" src="jssaxparser/DefaultHandlers.js"></script>
<script src="index.js"></script>
<script src="pages.js"></script>
<script>
	dojo.ready(function()
	{
		prototypeExtensions();
	});
</script>